@model iSchoolWebApp.Models.CourseDetailsModel
@{
    ViewData["Title"] = Model.CourseId;
}


<h1>Course Details</h1>
<p>Course ID: @Model.CourseId</p>
<p>Course Title: @Model.CourseTitle</p>
<p>Course Description: @Model.CourseDescription</p>